 <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-nav-status="toggle">
 	<div class="">
 		<div class="navbar-header">

 			<a href="#" class="navbar-brand">
  				<img src="assets/wiproholmes.png" id="wiprologo" class="pull-left" alt="logo">
          <!-- <b class= "and"> &</b> -->
          <img src="assets/watson.png" id="watsonlogo" class="pull-left" alt="logo">

 			</a>
 		</div>

    <div>
      <a class="display pull-right">
        <span class="admin fa fa-user"></span>
        Admin
      </a>
      <a class="display pull-right">
        <span class="glyphicon glyphicon-shopping-cart "></span>
        Cart
      </a>
      <a class="display pull-right">
        <span class="help fa fa-question-circle-o"></span>
        Help
      </a>

    </div>
  </div>
 	</div>
