<!-- <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-nav-status="toggle">
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">
        <img src="assets/wiproholmes.png" id="wiprologo" class="pull-left" alt="logo">
        
        <img src="assets/watson.png" id="watsonlogo" class="pull-left" alt="logo">
      </a>
    </div>
    
    <div class="navbar-header">
      <h3 id="title"><strong>Petro Technical Search for Upstream</strong></h3>            
    </div>
    
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="" class="glyphicon glyphicon-question-sign"> Help</a>
        </li>
        <li>
          <a href="" class="glyphicon glyphicon-shopping-cart"> Cart</a>
        </li>
        <li>
          <a href="" class="glyphicon glyphicon-user"> Admin</a>
        </li>
      </ul>
    </div>
  </div>
</div> -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation" data-nav-status="toggle">
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav" id="menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar bar1"></span>
        <span class="icon-bar bar2"></span>
        <span class="icon-bar bar3"></span>
      </button>
      
      <div class="navbar-brand">
        <a href="#">
          <img src="../assets/wiproholmes.png" id="wiprologo" class="pull-left" alt="logo">
        </a>
        
        <a href="#">
          
          <img src="../assets/watson.png" id="watsonlogo" alt="watson">
          
        </a>
      </div>
      <p class="navbar-text">PetroTechnical Search For Upstream</p>      
      
			
    </div>
		<!--<div class="navbar-header">
			<h4 id="title">Petro Technical search for Upstream</h4>
		</div> -->
    
    
    <div class="navbar-collapse collapse" id="myNav">
      
      <ul class="nav navbar-nav pull-right" id="iconsNav">      
        <li>          
          <a href="" class="glyphicon glyphicon-question-sign"> Help </a>          
        </li>        
        <li>         
          <a href="" class="glyphicon glyphicon-shopping-cart"> Cart </a>         
        </li>       
        <li >          
          <a  class="glyphicon glyphicon-user dropdown-toggle" data-toggle="dropdown"> Admin </a>          
          <ul class="dropdown-menu" >           
            <li><a href="#" (click)="logout()" > Log Out </a></li>           
          </ul>         
        </li>       
      </ul>      
    </div>  
    
    
  </div>