 <div class="navbar navbar-default navbar-fixed-top" role="navigation" data-nav-status="toggle">
 	<div class="">
 		<div class="navbar-header">

 			<a href="#" class="navbar-brand">
  				<img src="assets/wiproholmes.png" id="wiprologo" class="pull-left" alt="logo">
          <!-- <b class= "and"> &</b> -->
          <img src="assets/watson.png" id="watsonlogo" class="pull-left" alt="logo">
       </a>
     </div>
     
     <div class="navbar-header">
        <h3 id="title"><strong>Pertro Technical Search for Upstream</strong></h3>            
     </div>

    <!-- <div>
      <a class="display pull-right">
        <span class="admin fa fa-user"></span>
        Admin
      </a>
      <a class="display pull-right">
        <span class="glyphicon glyphicon-shopping-cart "></span>
        Cart
      </a>
      <a class="display pull-right">
        <span class="help fa fa-question-circle-o"></span>
        Help
      </a>

    </div> -->

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="" class="glyphicon glyphicon-question-sign"> Help</a>
      </li>
      <li>
        <a href="" class="glyphicon glyphicon-shopping-cart"> Cart</a>
      </li>
      <li>
        <a href="" class="glyphicon glyphicon-user"> Admin</a>
      </li>
    </ul>
  </div>
 	</div>
