<div style="margin-top:7%">
  <table class="table table-condensed ">
    <tr>
      <th *ngFor="let heading of csvHeader">
        {{ heading }}
      </th>
    </tr>
    <tr *ngFor="let x of csvData;let rowIndex = index" >
      <td>
        {{ rowIndex + 1}}
      </td>
      <td *ngFor="let y of x">{{ y }}</td>
      <td>
        <button class="btn btn-success" (click)="approveRow(rowIndex)">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button class="btn btn-danger" (click)="deleteRow(rowIndex)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </td>
    </tr>
  </table>
  <div class="col-md-4">
    <button class="btn btn-primary" (click)="generateCSV()">Generate CSV </button>
  </div>
</div>

