<div style="margin-top:7%">
  
  <!-- <div class= "uploadDiv">
    <div class= "container">
      <div class="form-group ">
        
        <div class="docUploadHeading">
          <h2 class=""> Do you want to upload a document? </h2>
          <label> If yes, </label>
          <a href="#upload" data-toggle="collapse"> Click Here </a>
        </div>
        
        <div id="upload" class="collapse">
          <input type="file" class="form-control fieldInput" name="single" ng2FileSelect [uploader]="uploader" />
          
          <div class=" uploadBtnDiv">
            <button type="button"  data-target="#progressBar" class="btn btn-success btn-s uploadBtn"
            (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
            <span class="glyphicon glyphicon-upload"></span> Upload all
          </button>
          <div class="progress " id= "progressBar">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div> -->

<div class="container">
  <div class="col-md-8" style="margin-top:30px">
    <input type="file" class="form-control fieldInput" name="single" ng2FileSelect [uploader]="uploader" />    
  </div>
  
  <div class="col-md-4">
    <button type="button"  data-target="#progressBar" class="btn btn-success btn-s uploadBtn"
    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
    <span class="glyphicon glyphicon-upload"></span> Upload
  </button>
</div>

</div>

<div class = "feedbackTable">

  <table class="table table-condensed">
    <thead class="tableHeader">
      <tr>
        <th>S.No</th>
        
        <th>Question</th>
        <th> Edit</th>
        <th>Old Intent 1</th>
        <th>Old Intent 2</th>
        <th>New Intent </th>
        <!-- <th>New Intent 2</th> -->
        <th>Comment</th>
        <!-- <th>Entity</th> -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of feedback | paginate: config ;let i = index ">
        <td>
          <!-- {{ i+1  }} -->
          {{(config.currentPage - 1) * config.itemsPerPage + i + 1 }}
        </td>
        
        <td>
          <!--{{ x.question }}-->
          <span>
            <input type="text" class="form-control" [(ngModel)]="x.question">
          </span>
          <div style="margin-top:3%;" *ngIf="anotherq[i]">
            <input type="text" class="form-control" placeholder="Type second question here" [(ngModel)]="question2[i]">
          </div>
        </td>
        <td>
          <!-- <a class=" glyphicon glyphicon-pencil" (click)="anotherq[i]=true "></a> -->
          <a class=" glyphicon glyphicon-pencil" (click)="toogle((config.currentPage - 1) * config.itemsPerPage + i)"></a>
        </td>		  
        <td>
          {{ x.oldintent1 }}
          <div style="margin-top:65px" *ngIf="anotherq[i]">
            {{ x.oldintent1 }}
          </div>
        </td>
        <td>
          {{ x.oldintent2 }}
          <div style="margin-top:65px" *ngIf="anotherq[i]">
            {{ x.oldintent1 }}
          </div>
        </td>
        <td style="width:10%">
          <ss-multiselect-dropdown [options]="myOptions" [settings]="selectsettings" [(ngModel)]="selected[i]" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
          <div style="margin-top:15%" *ngIf="anotherq[i]">
            <ss-multiselect-dropdown [options]="myOptions" [settings]="selectsettings" [(ngModel)]="selected2[i]" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>	
          </div>
        </td>
        <td>
          {{ x.comment }}
          <div style="margin-top:12%" *ngIf="anotherq[i]">
            {{x.comment}}
          </div>
        </td>
        <td align="center" *ngIf="showmessage[i]!=1;else message ">
          
          <button  class="btn btn-success" (click)="approveRow((config.currentPage - 1) * config.itemsPerPage + i)">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          
          <button class="btn btn-danger" (click)="deleteRow(i)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>

        <ng-template #message>
          <td>
              <span style="color:green">Added to approved list</span>
          </td>
            
          </ng-template>
        
        
      </tr>
      <tr>
       
      </tr>
      
    </tbody>
    
    
  </table> 


  <div class="col-md-12 col-lg-12 col-sm-12" align="center">
      <pagination-controls (pageChange)="pageChanged($event)"  id="advanced"></pagination-controls>
    </div>
  
  <div class="col-md-12" align="center">
    <button class="btn btn-primary submitBtn" (click)="sendjson()">Submit</button>
  </div>
</div>
</div>
