


<div class="secondRow row">
    
    <div class= " col-md-3 col-lg-3">
        
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#filter1">
                            Filter
                        </a>
                        <a class="pull-right" data-toggle="collapse" href="#filter1">
                            <span class="glyphicon glyphicon-filter"></span>
                        </a>
                    </h4>
                </div>
                <div id="filter1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="filter-setting">
                            <form action="" >
                                <label class="internalHeadings">North America</label>
                                <a class="pull-right collapsed-icon-toggle" href="#coll-1" data-toggle="collapse">
                                    <span class="glyphicon glyphicon-minus on-opened"></span>
                                    <span class="glyphicon glyphicon-plus on-closed"></span>
                                </a>
                                <br/>
                                <div id="coll-1" class="collapse in">
                                    <label>Kern</label>
                                    <a class="pull-right collapsed-icon-toggle" href="#coll-11" data-toggle="collapse">
                                        <span class="glyphicon glyphicon-minus on-opened"></span>
                                        <span class="glyphicon glyphicon-plus on-closed"></span>
                                    </a>
                                    <br/>
                                    
                                    
                                    <div id="coll-11" class="collapse in">
                                        
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name=""
                                                value="" autocomplete="off"/>
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Kern River</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name=""
                                                value="" autocomplete="off"/>
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Edison</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name=""
                                                value="" autocomplete="off"/>
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Canfield Ranch</span>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <div id="coll-1" class="collapse in">
                                    <label>Los Angeles</label>
                                    <a class="pull-right collapsed-icon-toggle" href="#coll-12" data-toggle="collapse">
                                        <span class="glyphicon glyphicon-minus on-opened"></span>
                                        <span class="glyphicon glyphicon-plus on-closed"></span>
                                    </a>
                                    <br/>
                                    
                                    
                                    <div id="coll-12" class="collapse in">
                                        
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name=""
                                                value="" autocomplete="off"/>
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Beverly Hills</span>
                                        </div>
                                        <div class="padding-v-xs" data-toggle="buttons">
                                            <label class="btn btn-default btn-xs ico">
                                                <input type="checkbox" name=""
                                                value="" autocomplete="off"/>
                                                <span class="icon glyphicon glyphicon-ok"></span>
                                            </label>
                                            <span>Dominguez</span>
                                        </div>
                                        
                                    </div>
                                    <!-- </div> -->
                                    
                                    <!-- <div id="coll-1" class="collapse in"> -->
                                        <label>Orange</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-13" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        <div id="coll-13" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Huntington</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Richfield</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    
                                    <hr class="line"/>
                                    
                                    <label class="internalHeadings" >United Kingdom</label>
                                    <a class="pull-right collapsed-icon-toggle" href="#coll-2" data-toggle="collapse">
                                        <span class="glyphicon glyphicon-minus on-opened"></span>
                                        <span class="glyphicon glyphicon-plus on-closed"></span>
                                    </a>
                                    <br/>
                                    <div id="coll-2" class="collapse in">
                                        <label>Kern</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-21" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        
                                        
                                        <div id="coll-21" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Kern River</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Edison</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Canfield Ranch</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div id="coll-1" class="collapse in">
                                        <label>Los Angeles</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-22" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        
                                        
                                        <div id="coll-22" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Beverly Hills</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Dominguez</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div id="coll-1" class="collapse in">
                                        <label>Orange</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-23" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        <div id="coll-23" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Huntington</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Richfield</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="border col-md-9 col-lg-9">
            
            <div class= "searchContainer">
                
                <div id='search-box'>
                    <div id='search-form' >
                        <input id='search-text' name='q' [(ngModel)]="question" placeholder='Search' type='text'/>
                        <button id='search-button' type='submit' (click)="search(question)">
                            <span>Search</span>
                        </button>
                    </div>
                </div>
                
                
            </div>
            
            <div *ngIf="!edited;else notable" class="col-md-10" style="margin-top:2%">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Results
                    </div>
                    <div class="panel-panel-content" style="padding:2%">
                        {{ answer }}
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
            
            <ng-template #notable>
                <div class="col-md-12" style="margin-top:2%" >
                    <table class="table table-striped">
                        <tr *ngFor="let key of answer">
                            <!-- <td>{{key.well_id}}</td>
                                <td> {{ key.status }} </td>
                                <td> {{key.type}} </td>
                                <td>{{key.operator}}</td> -->
                            </tr>
                        </table>
                    </div>
                </ng-template>
                
                
                <div class="col-md-10">
                    <div class="panel panel-default" >
                        <div class="panel-content" style="padding:2%">
                            
                            <p>Document : {{ document }} </p>                            
                            <p>Field Name : {{ field_name }} </p> 
                            <p>Operator Name : {{ operator_name}}</p>   
                            <p>County Name: {{ county_name }}</p>
                                                 
                        </div>
                    </div>
                </div>
                
                <div class="col-md-10">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Related Documents
                        </div>
                        <div class="panel-content" style="padding:2%">
                            
                            <span>
                                Well Report : 
                                <a href="">{{ well_report }} </a>                            
                            </span> 
                            <br>
                            <span>
                                Injection Data : 
                                <a href="">{{ injection_data }} </a>                                
                            </span>
                            <br>
                            <span>
                                Production Data : 
                                <a href="">{{ production_data }} </a>                                
                            </span>
                            <br>
                            <span>
                                Well Designs :
                                <a href="">{{ well_design }} </a>                                
                            </span>
                            <br>
                            <span>
                                Well Logs : 
                                <a href="">{{ well_logs }} </a> 
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        