
<ng-template #errormessage >
    <h4 style="color:red;margin-top:500px;margin-left:25%" > Internl Error </h4>
</ng-template>

<ng-template #progressbar>
    <div style="margin-left:44%;margin-top:10%" class="loader"></div>
</ng-template>

<div *ngIf="!error;else errormessage">
    
    <div class="secondRow row">
        
        <!-- <div class= " col-md-3 col-lg-3">
            
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#filter1">
                                Filter
                            </a>
                            <a class="pull-right" data-toggle="collapse" href="#filter1">
                                <span class="glyphicon glyphicon-filter"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="filter1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="filter-setting">
                                <form action="" >
                                    <label class="internalHeadings">North America</label>
                                    <a class="pull-right collapsed-icon-toggle" href="#coll-1" data-toggle="collapse">
                                        <span class="glyphicon glyphicon-minus on-opened"></span>
                                        <span class="glyphicon glyphicon-plus on-closed"></span>
                                    </a>
                                    <br/>
                                    <div id="coll-1" class="collapse in">
                                        <label>Kern</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-11" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        
                                        
                                        <div id="coll-11" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Kern River</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Edison</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Canfield Ranch</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div id="coll-1" class="collapse in">
                                        <label>Los Angeles</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-12" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        
                                        
                                        <div id="coll-12" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Beverly Hills</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Dominguez</span>
                                            </div>  
                                        </div>
                                        
                                        
                                        <label>Orange</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-13" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        <div id="coll-13" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Huntington</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Richfield</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    
                                    <hr class="line"/>
                                    
                                    <label class="internalHeadings" >United Kingdom</label>
                                    <a class="pull-right collapsed-icon-toggle" href="#coll-2" data-toggle="collapse">
                                        <span class="glyphicon glyphicon-minus on-opened"></span>
                                        <span class="glyphicon glyphicon-plus on-closed"></span>
                                    </a>
                                    <br/>
                                    <div id="coll-2" class="collapse in">
                                        <label>Kern</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-21" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        
                                        
                                        <div id="coll-21" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Kern River</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Edison</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Canfield Ranch</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div id="coll-1" class="collapse in">
                                        <label>Los Angeles</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-22" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        
                                        
                                        <div id="coll-22" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Beverly Hills</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Dominguez</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div id="coll-1" class="collapse in">
                                        <label>Orange</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-23" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        <div id="coll-23" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Huntington</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Richfield</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        
        <div class="border col-md-12 col-lg-12">
            
            
            <div id='search-box'>
                <div id='search-form' >
                    <form id="search-form" role="form">
                        <input id='search-text' name='q' [(ngModel)]="question" placeholder='Search' type='text'/>
                        <button id='search-button' type='submit' (click)="search(question)">
                            <span>Search</span>
                        </button>
                    </form>
                </div>
            </div>
            
            
            <ng-template #invalid>
                <div *ngIf="!progress;else progressbar">
                    <h4 style="color:red;margin-top:0%;margin-left:25%">{{ answer }}</h4>
                </div>
            </ng-template>
            
            <div *ngIf="!invalid_search else invalid">
                
                
                <div *ngIf="!progress;else progressbar"> 
                    
                    
                    
                    <div *ngIf="!edited;else notable" class="col-md-12" style="margin-top:2%">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Results
                            </div>
                            <div class="answerPanel panel-body" style="padding:2%" >
                                <div class= "answer col-md-6 col-lg-6">
                                    {{ answer }}
                                </div>
                                
                                <div class= "col-md-6 col-lg-6">
                                    <p class="tableHeading"> Available data types for this well </p>
                                    <table class="table table-bordered">
                                        <thead class="tableHeader">
                                            <tr>
                                                <th>Well Logs</th>
                                                <th>Seismic</th>
                                                <th>Synthesis</th>
                                                <th>Checkshots </th>
                                                <th>VSP </th>
                                                <th>Well Design </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td> 
                                                    <span>
                                                        
                                                        <a href="../assets/data/{{otherdata.Well_Documents.Well_Logs }}" target="_blank">
                                                            {{ otherdata.Well_Documents.Well_Logs }}
                                                        </a>
                                                    </span>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span>
                                                        <a href="../../assets/data/{{ otherdata.Well_Documents.Well_Design }}" target="_blank">
                                                            {{ otherdata.Well_Documents.Well_Design }}
                                                        </a> 
                                                    </span>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div>
                            <div class="col-md-12">
                                <div class="panel panel-default" >
                                    <div class="panel-content" style="padding:2%">
                                        <div>
                                            <p>
                                                <strong> Document :</strong>                                      
                                                <a href="../assets/data/{{ document }}" href="../../assets/data/{{document}}" target = "_blank">	{{ document }} </a> 
                                            </p>
                                            <p> <strong>  Field Name :</strong> {{ otherdata.More_Details.Field_Name }} </p> 
                                            <p> <strong>  Operator Name: </strong> {{ otherdata.More_Details.Operator }} </p>
                                            <p> <strong>  County :</strong>  {{ otherdata.More_Details.County_Name }} </p>
                                            <hr>
                                            <p><strong>Well Report :</strong> 
                                                
                                                <a href="../assets/data/{{ otherdata.Well_Documents.Well_Report }}">
                                                    {{ otherdata.Well_Documents.Well_Report }}
                                                </a>  
                                                
                                            </p>
                                            <p><strong>Injection Data :</strong>
                                                
                                                <a href="../assets/data/{{ otherdata.Well_Documents.Injection_Data }}">
                                                    {{otherdata.Well_Documents.Injection_Data }}
                                                </a>
                                            </p>
                                            <p><strong>Production Data :</strong>
                                                
                                                <a href="../assets/data/{{ otherdata.Well_Documents.Production_Data }}">
                                                    {{ otherdata.Well_Documents.Production_Data }}
                                                </a>
                                            </p>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <ng-template #notable>
                        
                        <div class="col-md-12" style="margin-top:2%;overflow-x:auto;" >
                            <ng-template #coretable>
                                
                                <!-- ***************************************************** -->
                                <table class="table table-hover">
                                    <thead>
                                        <th>Well Name</th>
                                        <th>Lease Name</th>
                                        <th>Opeartor Name</th>
                                        <th>Spud Date</th>
                                        <th>Status</th>
                                        <th>Total Depth</th>
                                        <th>Type</th>
                                        <th>Core Data</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of answer | paginate: { itemsPerPage: 5, currentPage: p, id:'first' };let i = index">
                                            <td>{{ x.Well_name }}</td>
                                            <td>{{ x.Lease_Name }}</td>
                                            <td>{{ x.Operator }}</td>
                                            <td>{{ x.Spud_Date }}</td>
                                            <td>{{ x.Status }} </td>
                                            <td>{{ x.Total_Depth }} </td>
                                            <td>{{ x.Type }} </td>
                                            <td><a data-toggle="modal" (click)="modal(i)"  data-target="#myModal">Click</a></td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                                <div class="col-md-12 col-lg-12 col-sm-12" align="center">
                                    <pagination-controls (pageChange)="p = $event" id="first"></pagination-controls>                                        
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;				</button>
                                                <!-- <h4 class="modal-title">Modal Header</h4> -->
                                            </div>
                                            <div class="modal-body">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Core ID</th>
                                                            <th>Core Type</th>
                                                            <th>TopDepth</th>
                                                            <th>Core Diameter</th>
                                                            <th>Porosity Length</th>
                                                            <th>Interval Thickness</th>
                                                            <th>Core Length</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let y of core;let i = index">
                                                            <td>{{ y.CoreId }}</td>
                                                            <td>{{ y.CoreType }}</td> 
                                                            <td>{{ y.TopDepth }}</td>
                                                            <td>{{ y.CoreDiameter }}</td>
                                                            <td>{{ y.PorosityLength }}</td>
                                                            <td>{{ y.IntervalThickness }}</td>
                                                            <td>{{ y.CoreLength }}</td>
                                                            
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <!-- ************************************************** -->    
                            </ng-template>
                            
                            
                            <div *ngIf="coredata;else coretable"> 
                                <table class="table table-hover table -condensed">
                                    <thead>
                                        <tr>
                                            <!-- <th *ngFor="let c of answer[0] | key">{{ c }}</th> -->
                                            <th>Well Name </th>
                                            <th>Lease Name </th>
                                            <th>Operator </th>
                                            <th>Spud Date</th>
                                            <th>Status</th>
                                            <th>Total Depth</th>
                                            <th>Type </th>
                                            
                                            <th>Well Logs</th>
                                            <th>Seismic</th>
                                            <th>Synthetics</th>
                                            <th>VSP</th>
                                            <th>Checkshot</th>
                                            <th>Well Design</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr *ngFor="let x of answer | paginate: { itemsPerPage: 5, currentPage: pp, id:'second' };let i = index">
                                            <td> {{ x.Well_name }}</td>
                                            <td> {{ x.Lease_Name }}</td>
                                            <td> {{ x.Operator }}</td>
                                            <td> {{ x.Spud_Date }}</td>
                                            <td> {{ x.Status }} </td>
                                            <td> {{ x.Total_Depth }} </td>
                                            <td> {{ x.Type }} </td>
                                            <td>
                                                <a href="../assets/data/{{x.well_docs.Well_Logs}}" target="_blank">
                                                    {{ x.well_docs.Well_Logs }}                                                    
                                                </a> 
                                            </td>
                                            <td> {{ x.well_docs.Seismic }} </td>
                                            <td> {{ x.well_docs.Synthetics }} </td>  
                                            <td> {{ x.well_docs.VSP }} </td>                                                                                 
                                            <td> {{ x.well_docs.Checkshot }} </td>
                                            <td> 
                                                <a href="../assets/data/{{x.well_docs.Well_Design}}" target="blank">
                                                    {{ x.well_docs.Well_Design }}
                                                </a> 
                                            </td>  
                                        </tr>   
                                    </tbody>
                                </table>
                                <div class="col-md-12 col-lg-12 col-sm-12" align="center">
                                    <pagination-controls (pageChange)="pp = $event"  id="second"></pagination-controls>                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                        <div class="col-md-12">
                            <div class="panel panel-primary" *ngFor="let x of answer  | paginate: { itemsPerPage: 2, currentPage: ppp, id:'third' }">
                                
                                <div class="panel-heading">
                                    {{ x.Well_name }}
                                </div>
                                <div class="panel-content" style="padding:2%">
                                    
                                    <p> 
                                        <strong> Field Name :</strong> 
                                        {{ x.FieldName }}
                                    </p>
                                    <p> 
                                        <strong> Asset Name :</strong> 
                                        {{ x.Asset_Name }}
                                    </p>
                                    <p>
                                        <strong> County : </strong>
                                        {{ x.County_Name }}
                                    </p>
                                    <p>
                                        <strong> Well Report : </strong>
                                        <a href="../assets/data/{{ x.well_docs.Well_Report }}">
                                            {{ x.well_docs.Well_Report }}
                                        </a>
                                    </p>
                                    
                                    
                                    
                                    <p> 
                                        <strong> Injection Data :</strong> 
                                        <a href="../assets/data/{{ x.well_docs.Injection_Data }}">
                                            {{ x.well_docs.Injection_Data }}
                                        </a>
                                    </p>
                                    <p> 
                                        <strong> Production Data :</strong> 
                                        <a href="../assets/data/{{ x.well_docs.Production_Data }}">
                                            {{ x.well_docs.Production_Data }}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12" align="center">
                            <pagination-controls (pageChange)="ppp = $event" id="third"></pagination-controls>                                
                        </div>
                    </ng-template> 
                </div>
            </div>
        </div>   
    </div>
</div>
