
<ng-template #errormessage >
    <h4 style="color:red;margin-top:500px" > Internl Error </h4>
</ng-template>
<ng-template #progressbar>
    
    <div class="container" style="margin-top:50%">
        <div class="row">
            <div id="loader">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="lading"></div>
            </div>
        </div>
    </div>
</ng-template>
<div *ngIf="!error;else errormessage">
    
    <ng-template #invalidmessage>
        <h4 style="color:red;margin-top:25%;margin-left:25%">{{ answer }}</h4>
    </ng-template>
    
    <div class="secondRow row">
        
        <div class= " col-md-3 col-lg-3">
            
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#filter1">
                                Filter
                            </a>
                            <a class="pull-right" data-toggle="collapse" href="#filter1">
                                <span class="glyphicon glyphicon-filter"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="filter1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="filter-setting">
                                <form action="" >
                                    <label class="internalHeadings">North America</label>
                                    <a class="pull-right collapsed-icon-toggle" href="#coll-1" data-toggle="collapse">
                                        <span class="glyphicon glyphicon-minus on-opened"></span>
                                        <span class="glyphicon glyphicon-plus on-closed"></span>
                                    </a>
                                    <br/>
                                    <div id="coll-1" class="collapse in">
                                        <label>Kern</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-11" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        
                                        
                                        <div id="coll-11" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Kern River</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Edison</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Canfield Ranch</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div id="coll-1" class="collapse in">
                                        <label>Los Angeles</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-12" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        
                                        
                                        <div id="coll-12" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Beverly Hills</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Dominguez</span>
                                            </div>
                                            
                                        </div>
                                        
                                        
                                        <label>Orange</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-13" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        <div id="coll-13" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Huntington</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Richfield</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    
                                    <hr class="line"/>
                                    
                                    <label class="internalHeadings" >United Kingdom</label>
                                    <a class="pull-right collapsed-icon-toggle" href="#coll-2" data-toggle="collapse">
                                        <span class="glyphicon glyphicon-minus on-opened"></span>
                                        <span class="glyphicon glyphicon-plus on-closed"></span>
                                    </a>
                                    <br/>
                                    <div id="coll-2" class="collapse in">
                                        <label>Kern</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-21" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        
                                        
                                        <div id="coll-21" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Kern River</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Edison</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Canfield Ranch</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div id="coll-1" class="collapse in">
                                        <label>Los Angeles</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-22" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        
                                        
                                        <div id="coll-22" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Beverly Hills</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Dominguez</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    <div id="coll-1" class="collapse in">
                                        <label>Orange</label>
                                        <a class="pull-right collapsed-icon-toggle" href="#coll-23" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus on-opened"></span>
                                            <span class="glyphicon glyphicon-plus on-closed"></span>
                                        </a>
                                        <br/>
                                        <div id="coll-23" class="collapse in">
                                            
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Huntington</span>
                                            </div>
                                            <div class="padding-v-xs" data-toggle="buttons">
                                                <label class="btn btn-default btn-xs ico">
                                                    <input type="checkbox" name=""
                                                    value="" autocomplete="off"/>
                                                    <span class="icon glyphicon glyphicon-ok"></span>
                                                </label>
                                                <span>Richfield</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="border col-md-9 col-lg-9">
            
            
            <div id='search-box'>
                <div id='search-form' >
                    <form id="search-form" role="form">
                        <input id='search-text' name='q' [(ngModel)]="question" placeholder='Search' type='text'/>
                        <button id='search-button' type='submit' (click)="search(question)">
                            <span>Search</span>
                        </button>
                    </form>
                </div>
            </div>
            
            <div *ngIf="!progress;else progressbar"> 
                <div *ngIf="!edited;else notable" class="col-md-12" style="margin-top:2%">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Results
                        </div>
                        <div class="answerPanel panel-body" style="padding:2%" >
                            <div class= "answer col-md-6 col-lg-6">
                                {{ answer }}
                            </div>
                            
                            <div class= "col-md-6 col-lg-6">
                                <p class="tableHeading"> Available data types for this well </p>
                                <table class="table table-bordered">
                                    <thead class="tableHeader">
                                        <tr>
                                            <th>Well Logs</th>
                                            <th>Seismic</th>
                                            <th>Synthesis</th>
                                            <th> Checkshots </th>
                                            <th> VSP </th>
                                            <th> Well Design </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td> <a>John </a></td>
                                            <td> <a>Doe </a></td>
                                            <td> <a>john@example.com </a></td>
                                            <td> </td>
                                            <td> </td>
                                            <td> </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <ng-template #notable>
                    <div class="col-md-12" style="margin-top:2%;overflow-x:auto;" >
                        <table class="table table-hover table -condensed">
                            <thead>
                                <tr style="background-color:cornflowerblue">
                                    <th>Well Name </th>
                                    <th>Lease Name </th>
                                    <th>Operator </th>
                                    <th>Spud Date</th>
                                    <th>Status</th>
                                    <th>Total Depth</th>
                                    <th>Type </th>
        
                                </tr>
                            </thead>
                            <tbody >
                                <!-- <tr *ngFor="let x of answer">
                                    <td> {{ x.Well_Name }} </td>
                                    <td> {{ x.Operator }} </td>  
                                    <td> {{ x.Lease_Name }} </td>
                                    <td> {{ x.Status }}</td>
                                    <td> {{ x.Type }} </td>
                                    <td> {{ x.Spud_Date  }} </td>
                                    <td> {{ x.Total_Depth }} </td>
                                    <td> 
                                        <a href="../assets/data/{{ x.well_design }}" target="_blank"> {{ x.Well_design }} </a>       
                                    </td>
                                </tr> -->


                                <tr *ngFor="let x of wellheaders;let i = index">

                                    <td> {{ x.Well_Name }} </td>
                                    <td> {{ x.Lease_Name }} </td>
                                    <td> {{ x.Operator }} </td>
                                    <td> {{ x.Spud_Date }} </td>
                                    <td> {{ x.Status }} </td>
                                    <td> {{ x.Total_Depth }} </td>
                                    <td> {{ x.Type }} </td>

                                    <td> {{ welldocs[i].checkshot }} </td>
                                    <td> {{ welldocs[i].Injection_Data }} </td>
                                    <td> {{ welldocs[i].Production_Data }} </td>
                                    <td> {{ welldocs[i].Seismic }} </td>
                                    <td> {{ welldocs[i].Synthetics }} </td>
                                    <td> {{ welldocs[i].VSP }} </td>
                                    <td> {{ welldocs[i].Well_Design }} </td>
                                    <td> {{ welldocs[i].Well_Logs }} </td>
                                    <td> {{ welldocs[i].Well_Report }} </td>
                                    
                                    
                                       
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </ng-template>
                
                <div *ngIf="!invalid_search">
                    
                    <div class="col-md-12">
                        <div class="panel panel-default" >
                            <div class="panel-content" style="padding:2%">
                                
                                <p>Document :
                                    
                                    <a href="../assets/data/{{ document }}" href="../../assets/data/{{document}}" target = "_blank">	{{ document }} </a>
                                    
                                </p>

                                <!-- <p>Field Name: {{ data.More_Details.Field_Name }} </p> -->

                                
                                <!-- <p>Field Name : {{ field_name }} </p> -->
                                <!-- <p>Operator Name : {{ operator_name}}</p> -->
                                <!-- <p>County Name: {{ county_name }}</p> -->
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Related Documents
                            </div>
                            <div class="panel-content" style="padding:2%">
                                
                                <span>
                                    Well Report :
                                    <a href="../assets/data/{{well_report}}" target="_blank">
                                        {{ well_report }} 
                                    </a>
                                </span>
                                <br>
                                <span>
                                    Injection Data :
                                    <a href="../assets/data/{{injection_data}}" target="_blank">
                                        {{ injection_data }}
                                    </a>
                                </span>
                                <br>
                                <span>
                                    Production Data :
                                    <a href="../assets/data/{{production_data}}" target="_blank">
                                        {{ production_data }}
                                    </a>
                                </span>
                                <br>
                                <span>
                                    Well Designs :
                                    <a href="../../assets/data/{{ well_design }}" target="_blank">
                                        
                                        {{ well_design }}
                                    </a>
                                </span>
                                <br>
                                <span>
                                    Well Logs :
                                    <a href="../assets/data/{{well_logs}}" target="_blank">
                                        
                                        {{ well_logs }}
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>   
    </div>
</div>
