

<!--    <div id='search-box'>
       
            <form id="homesearch" role="form">
                <input id='search-text' name='q'[(ngModel)]="question" placeholder='Search' type='text'/>
                <button id='search-button' type='submit' (click)="sendquestion(question)">
                    <span>Search</span>
                </button>
            </form>
       
    </div> -->
	
	
	
	<div class="container" style="font-family: 'Ubuntu', sans-serif;">
		<div class="row">
		
		<div class="center" align="center">
		
		<!--	<img src="assets/wordcloud.svg" width="50%" alt="home">-->
		<h1 id="title">Petro Technical Search For Upstream</h1>
			
	
			<form role="form" style="padding-top:2%">
					<input name='q' class="form-control" [(ngModel)]="question" placeholder="Search">
					<br>
					<button class="btn btn-primary" type="submit" (click)="sendquestion(question)">Search</button>
			</form>

		</div>					
	</div>
			
						
	</div>


