<div id="home" class="container">
    
    <div style="margin-left:1000px;">
        <a routerLink="../login" >logout</a>
    </div>
    
    
    <div id='search-box'>
        <div  id='search-form'>
            <form id="homesearch" role="form">
                <input id='search-text' name='q'[(ngModel)]="question" placeholder='Search' type='text'/>
                <button id='search-button' type='submit' (click)="sendquestion(question)">
                    <span>Search</span>
                </button>
            </form>
        </div>
    </div>
</div>

